    <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
    	<div th:replace="fragments/header :: header">
    		<h1> THIS IS A DEFAULT HEADER</h1>
    	</div>
    	<div>
    		<img th:src="${mycard.imgUrl}" alt="">

    		<h3 th:utext="${mycard.name}">...</h3>

    		<div>
    			<p th:utext="${mycard.description}">
    			</p>	
    		</div>
    		<h5 th:text="'Affinity:  '+${mycard.Affinity}">...</h5>
    		<h5 th:text="'HP:  '+${mycard.Hp}">...</h5>
    		<h5 th:text="'Energy:  '+${mycard.Energy}">...</h5>
    		<h5 th:text="'Attack:  '+${mycard.Attack}">...</h5>
    		<h5 th:text="'Defense:  '+${mycard.Defence}">...</h5>
    	</div>
    </body>
    </html>
